<!DOCTYPE html>
<html>
<head>
    <title>Swagger UI</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui/swagger-ui.css' %}"/>
</head>
<body>
    <div id="swagger-ui"></div>
    <script src="{% static 'swagger-ui/swagger-ui-bundle.js' %}"></script>
    <script>
        const ui = SwaggerUIBundle({
            url: "{% static 'diploma-frontend/swagger/swagger.yaml' %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        });
    </script>
</body>
</html>